{% extends '::base.html.twig' %}

{% block body %}
    <h1>Manage Menus</h1>
    <div>
        <a href="{{ path('matuckmenurootcreate') }}" class="btn btn-primary" role="button">Add New Root Menu</a>
    </div>
    <div>{#
        {% if menu.children %}
            {{ include('matuckGeorgeGrantCoBundle:Menu:adminmenuEntry.html.twig', { 'menu': menu.children, 'top': menu.lft+1, 'bottom': menu.rgt-1 }) }}
        {% endif %}#}
        {% for menu in menus %}
            <div class="rootmenu">
                {{ menu.title }}
                <span class="pull-right">
                    xx
                    xxx
                    xx
                </span>
            </div>
        {% endfor %}
    </div>
{% endblock %}
